.header {
	background-color: #EDF2F4; /* Bleu foncé/gris */
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
  }

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.nav li {
	margin-left: 1.5rem;
	cursor: pointer;
}