.header {
   background-color: var(--color-black);
   color: color-mix(in srgb, var(--color-black), var(--color-white) var(--font-lighten-amount));
   grid-area: 1 / 1 / 2 / 2;
}

.container {
   display: flex;
   justify-content: left;
   align-items: center;
   font-weight: bold;
}

.logoSpan {
   background-color: red;
   border-radius: 0.2rem;
   width: 2rem;
   height: 2rem;
}

.title {
   margin-left: 1rem;
   color: color-mix(in srgb, var(--color-orange), black var(--darken-amount));

}
