.container {
   width: 100%;
   max-height: 100%;
   grid-area: 4 / 1 / -1 / -1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 8px;
   align-content: flex-start; /* Aligne le contenu en haut */
   justify-content: center;
   margin: 0;
   overflow: auto;
   padding: 1em;
   background-color: var(--color-charcoal);
   border-radius: 10px;
   /* scroll-behavior: smooth; */
}

.caseHeader {
   display: flex;
   justify-content: center;
   font-weight: 600;
}

.case {
   margin: 0;
   background-color: var(--color-cyan);
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 10px;
   min-width: calc(19%);
   border: 1px solid var(--color-black);
}

.join {
   justify-content: end;
}


input {
   min-width: 100%;
   min-height:20px;
   justify-items: center;
   align-items: center;
   grid-area: 3 / 1 / 3 / 3;
}

.refresh {
   width: 30%;
   height:auto;
   justify-items: center;
   align-items: center;
   grid-area: 3;
   color: white;
   border: none;
   cursor: pointer;
   box-shadow: 10px;
}

.refresh:active {
   transform: scale(0.9);
}

.refreshImg{
   width:100%;
   height:auto;
}