h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Pile de polices système courante */
   line-height: 1.6;
   background-color: #f4f7f6;
   color: #333;
}

.ngos-global {
   border: 1px solid grey;
   border-radius: 5px;
   padding: 0.5rem;
   background-color: white;
}

.ngos-global:hover {
   background-color: lightcyan;
   transition: background-color 0.2s ease-in-out;
}

.modal {
   display: grid;
   justify-content:center;
   align-items: center;
   width: 25%;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   background-color: #edf2f4;
   padding: 3rem;
}

.center-screen {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position:fixed;
}

.modal-input {
   height: 150%;
   border: solid 2px #064d69;
   border-radius: 25px;
}

.modal-input[type='text'] {
   text-align: center;
}

/* 
.modalInput:active {
   height: 150%;
   border: solid 2px #064d69;
   border-radius: 25px;
} */

.rounded-button {
   cursor: pointer;
   margin: 10% 10% 0 10%;
   padding: 5%;
   border: solid 0;
   border-radius: 50px;
   color: white;
}

.bg-blue {
   background-color: #064d69;
}