h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
a {
   margin: 0;
   padding: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

input, select, textarea, button{
   font-family: inherit;
}

body {
   font-family:
   "Bebas Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Pile de polices système courante */
   line-height: 1.6;
   background-color: #f4f7f6;
   color: #333;
}

.ngos-global {
   border: 1px solid grey;
   border-radius: 5px;
   padding: 0.5rem;
   background-color: white;
}

.ngos-global:hover {
   background-color: lightcyan;
   transition: background-color 0.2s ease-in-out;
}

/* DISPLAY */

.d-flex {
   display: flex;
}

.d-grid {
   display: grid;
   grid-template-columns: 50% 50%;
   gap: 10px;
}

.d-none {
   display: none;
}

.jc-center {
   justify-content: center;
}

/* MODAL */

.modal {
   justify-content: center;
   align-items: center;
   width: 25%;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   color: black;
   background-color: #edf2f4;
   padding: 3rem;
}

.center-screen {
   margin: auto;
}

.modal-input {
   height: 150%;
   border: solid 2px #064d69;
   border-radius: 25px;
}

.modal-input[type="text"] {
   text-align: center;
}

/* BACKGROUND */

.bg-blue {
   background-color: #edf2f4;
}

/* UTILS */

.rounded-button {
   cursor: pointer;
   margin: 10% 10% 0 10%;
   padding: 1vh;
   border: solid 0;
   border-radius: 50px;
   text-align: center;
}

.button-press {
   display: block;
   height: 80px;
   width: 100px;
   font-weight: 600;
   font-size: 0.8em;
   margin: 10px;
   cursor: pointer;
   color: rgb(0, 0, 0);
   border: 3px solid rgba(185, 185, 185, 0.514);
   border-radius: 15%;
   box-shadow: 6px 4px #333;
   text-shadow: 1px 1px 10px white;
}

.button-press-hover:hover {
   animation: button-3d-hover linear 0.3s;
   animation-fill-mode: forwards;
}

.move-to-right {
   animation: move-to-right linear 0.3s;
}

.move-to-left {
   animation: move-to-left linear 0.3s;
}

.move-to-right-forwards {
   animation: move-to-right-forwards linear 0.3s forwards;
   animation-fill-mode: forwards;
}

.move-to-left-forwards {
   animation: move-to-left-forwards linear 0.3s;
   animation-fill-mode: forwards;
}

.change-windows {
   border: 0;
   animation: change-windows linear 0.5s;
   animation-fill-mode: forwards;
}

@keyframes button-3d-hover {
   100% {
      transform: translate(8%, 8%) scale(0.95);
      transform: scale(-100px);
      box-shadow: 2px 1px #333;
      font-size: 88%;
   }
}

@keyframes change-windows {
   100% {
      width: 110vw;
      height: 110vh;
      border-radius: 0;
      z-index: 0;
      box-shadow: 0;
      font-size: 3em;
   }
}

@keyframes move-to-right {
   50% {
      transform: translateX(60%);
   }
   100% {
      transform: translateX(0%);
   }
}

@keyframes move-to-left {
   50% {
      transform: translateX(-60%);
   }
   100% {
      transform: translateX(0%);
   }
}

@keyframes move-to-right-forwards {
   100% {
      transform: translateX(60%);
   }
}

@keyframes move-to-left-forwards {
   100% {
      transform: translateX(-60%);
   }
}

/* ID */

#homeInputRoom[type="text"] {
   max-width: 100%;
   max-height: 100%;
   background-color: rgb(216, 34, 34);
   border: 3px solid rgb(19, 18, 18);
   border-radius: 15%;
}

#homeInputRoom[type="text"]:focus {
   max-width: 100%;
   max-height: 100%;
   background-color: rgb(216, 34, 34);
   border: 2px solid rgba(226, 71, 71, 0.514);
}
